<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
    {% include navbar.html %}

        <div class="container">

            <div class="body-content" id="navigation">

                <!-- Example row of columns -->
                <div class="page-header">
                    <h1>Ten Year Course</h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h2>1.1 Read Peter Norvig's article</h2>
                        <p>Read this article by Peter Norvig, the director of research at Google.</p>
                        <p><a href="http://norvig.com/21-days.html">Teach yourself programming in ten years</a></p>

                        <h2>1.2 Introduction to Vim</h2>
                        <p>Watch Derek Wyatt's video</p>
                        <p><a href="http://vimeo.com/6999927#at=0">Introduction to Vim</a></p>

                        <h2>Learn how to use vim incrementally</h2>
                    </div>
                </div>

                {% include footer.html %}
            </div> <!-- /container -->

{% include scripts.html %}
    </body>
</html>
