<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
    {% include navbar.html %}

        <div class="container">

            <div class="body-content" id="navigation">

                <!-- Example row of columns -->
                <div class="page-header">
                    <h1>Ten Year Course</h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <p>I've only been programming for the past three years. This is a collection of resources that I
                        have used. You can use them in any order. However I've arranged them so that the more advanced
                        stuff is at the bottom. If you don't want to buy the books, read the first few pages on Amazon
                        first. Buy the books if you like them.</p>

                        <h4><strong>Read Peter Norvig's article</strong></h4>
                        <p>Read this article by Peter Norvig, the director of research at Google.
                        He says how it takes 10 years to get good at anything and it's the same for programming.
                        <a href="http://norvig.com/21-days.html">Teach yourself programming in ten years</a></p>

                        <h4><strong>Learn to type</strong></h4>
                        <p>You need to know to type if you want to learn Vim, and you definately want to learn vim.</p>

                        <h4><strong>Introduction to Vim</strong></h4>
                        <p>Watch Derek Wyatt's video. Get a taste of the power of Vim.
                        <a href="http://vimeo.com/6999927#at=0">Introduction to Vim</a></p>

                        <h4>More on Vim</h4>
                        <p>
                        <a href="http://stackoverflow.com/questions/1218390/what-is-your-most-productive-shortcut-with-vim">
                            Read this great post on Vim</a></p>

                        <h4>Richard Feynman on Computing</h4>
                        <p><a href="http://www.youtube.com/watch?v=EKWGGDXe5MA">Richard Feynman's Lecture on Computer Heuristics</a></p>

                        <h4>Learn how to use vim incrementally</h4>
                        <p>You can't learn all of vim, not in one lifetime. Learn just what you need.</p>

                        <h4>Guy Steele: Growing a language</h4>
                        <p>Guy Steele talks about why Java needs generics and operator overloading. This talk is one of
                        a kind. Watch it to know why.
                        <a href="http://www.youtube.com/watch?v=_ahvzDzKdB0">Growing a language</a></p>

                        <h4>Alan Kay's turing award lecture</h4>
                        <p>Alan Kay talks about keeping things simple, Sketchpad etc..
                        <a href="http://www.youtube.com/watch?v=ymF94cFfzUQ"></a>
                        </p>

                        <h4>Alan Kay's talk on OOP</h4>
                        <p>Alan Kay talks on object oriented programming at OOPSLA 1997.
                        <a href="http://www.youtube.com/watch?v=oKg1hTOQXoY">The computer revolution hasn't happened
                            yet</a>
                        Greate Quotes:
                        </p>
                        <ul>
                            <li>I invented the term Object-Oriented, and I can tell you I did not have C++ in mind.</li>
                            <li>(About html) This has to be one of the worst ideas since MS DOS.</li>
                        </ul>

                        <h4>Watch Linus Torvalds' talk on Git</h4>
                        <p>Linus Torvalds talks about Git at Google
                        <a href="http://www.youtube.com/watch?v=4XpnKHJAok8">Linus Torvalds on Git</a></p>

                        <h4>Do the basic course on Git at Codeschool</h4>
                        <p>Learn the basics of Git.
                        <a href="http://try.github.io/levels/1/challenges/1">Try Git</a></p>

                        <h4>Read hackers and painters</h4>
                        <p>Hackers and painters is among the best books I have ever read. It is a collection of essays
                        of Paul Graham. It talks about why web software is great, how to make wealth, 
                        and why lisp is so great.
                        <a href="">Hackers and Painters</a>
                        </p>

                        <h4>Surely You're Joking Mr Feynman</h4>
                        <p>This book isn't about programming but it is a must read. Nobel Prize winning physicist, 
                        Richard Feynman shares some of his humourous stories.
                        <a href="http://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041">Surely
                            you're joking Mr Feynman</a>
                        </p>

                        <h4>The inmates are running the asylum</h4>
                        <p>
                        This is a great boook on UI design.
                        <a href="">The inmates are running the asylum</a>
                        </p>

                        <h4>Richard Feynman on Nanotechnology</h4>
                        <p>Another fantastic lecture by Prof Richard Feynman
                        <a href="http://www.youtube.com/watch?v=4eRCygdW--c">Richard Feynman's Lecture on
                        Nanotechnology</a></p>
                        <!--
                        <h4>Watch Alan Kay's turing award lecture</h4>
                        <h4>Basics of Unix</h4>
                        <h4>Learn python the hard way</h4>
                        <h4>Learn C the hard way</h4>
                        <h4>Why programmers are really bad</h4>
                        <h4>Why homeopathy doesn't work</h4>
                        <h4>Watch Penn and Teller Bullshit</h4>
                        <h4>Read the Inmates are running the Asylum</h4>
                        <h4>Read the Non Designers Design book</h4>
                        <h4>Read the Read Code Complete or Clean Code</h4>
                        <h4>Udacity Web development Course</h4>
                        <h4>SICP</h4>
                        -->
                    </div>
                </div>

                {% include footer.html %}
            </div> <!-- /container -->

            {% include scripts.html %}
            </body>
            </html>
