<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include navbar.html %}

<div class="container">

    <div class="body-content" id="navigation">

        <!-- Example row of columns -->
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h2>Chapters</h2>

                <ul class="nav nav-pills nav-stacked">
                    {% for chap in chapters %}
                    {% if chap == chapter %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% end %}
                    <a href="/examples/{{ language }}/{{ chap }}">{{ chap.title() }}</a></li>
                    {% end %}
                </ul>
            </div>
            <div class="col-lg-9">
                {% for exer in exercises %}
                <h2>Exercise</h2>
                <pre class="{{ hlName }}"><code>{{ exer[0] }}</code></pre>
                <pre class="no-highlight"><code>{{ exer[1] }}</code></pre>
                {% end %}
            </div>
        </div>

        {% include footer.html %}
    </div> <!-- /container -->

    {% include scripts.html %}
    </body>
    </html>
