<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
    {% include navbar.html %}

        <div class="container">

            <div class="body-content" id="navigation">

                <!-- Example row of columns -->
                <div class="page-header">
                    <h1>FAQ</h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Why did you create this site?</h3>
                        <p>I wanted to learn more programming languages. I thought creating this site would help me as well as others learn new languages.</p>
                        <h3>Every other book has examples. Whats new here?</h3>
                        <p>Unlike most other places, I have tried to focus much more on errors. There are several examples here of common mistakes so that you become familiar with common error messages you'll encounter.</p>
                        <h3>Who is this site for?</h3>
                        <p>This site is for people who already know to program and want to learn a new language.</p>
                        <h3>Is this a scientifically proven way to learn new languages?</h3>
                        <p>I happen to be a researcher however I don't know. I have no experience at all in this area. I just created this site know that it is something I would have wanted.</p>
                        <h3>Why are there no explanations?</h3>
                        <p>If you already know programming, explanations just clutter reading material. You can understand enough of the code just by reading the source code and the output.</p>
                    </div>
                </div>

                {% include footer.html %}
            </div> <!-- /container -->

{% include scripts.html %}
            </body>
            </html>
