<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
    {% include navbar.html %}

        <div class="container">

            <div class="body-content" id="navigation">

                <!-- Example row of columns -->
                <div class="page-header">
                    <h1>Library</h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a href="http://norvig.com/21-days.html"><h4>Teach Yourself Programming in Ten Years
                        </h4></a>
                        <p>Peter Norvig is the director of research at Google.
                        He talks about how it takes 10 years to get good at anything and it's the same for programming.
                        </p>

                        <h4>Learn to Type</h4>
                        <p>You need to know to type if you want to learn Vim, and you definately want to learn vim.</p>

                        <a href="http://vimeo.com/6999927#at=0"><h4>Introduction to Vim</h4></a>
                        <p>Watch Derek Wyatt's video. Get a taste of the power of Vim.</p>

                        <a href="http://stackoverflow.com/questions/1218390/what-is-your-most-productive-shortcut-with-vim">
                        <h4>More on Vim</h4></a>
                        <p>Read this great post on Vim</p>

                        <a href="http://www.youtube.com/watch?v=EKWGGDXe5MA"><h4>Richard Feynman on Computing</h4></a>

                        <h4>Learn how to use vim incrementally</h4>
                        <p>You can't learn all of vim, not in one lifetime. Learn just what you need.</p>

                        <a href="http://www.youtube.com/watch?v=_ahvzDzKdB0"><h4>Guy Steele: Growing a language</h4></a>
                        <p>Guy Steele talks about why Java needs generics and operator overloading. This talk is one of
                        a kind. Watch it to know why.</p>

                        <a href="http://www.youtube.com/watch?v=ymF94cFfzUQ"><h4>Alan Kay's Turing Award Lecture</h4></a>
                        <p>Alan Kay talks about keeping things simple, Sketchpad etc..</p>

                        <a href="http://www.youtube.com/watch?v=oKg1hTOQXoY"><h4>Alan Kay's on OOP at OOPSLA 1997</h4></a>
                        <p>The computer revolution hasn't happened yet
                        Great Quotes:
                        </p>
                        <ul>
                            <li>I invented the term Object-Oriented, and I can tell you I did not have C++ in mind.</li>
                            <li>(About html) This has to be one of the worst ideas since MS DOS.</li>
                        </ul>

                        <a href="http://www.youtube.com/watch?v=4XpnKHJAok8"><h4>Linus Torvalds' talk on Git</h4></a>

                        <a href="http://try.github.io/levels/1/challenges/1"><h4>Basic course on Git at Codeschool</h4></a>

                        <a href="http://www.amazon.com/Hackers-Painters-Big-Ideas-Computer/dp/1449389554/"><h4>Hackers and Painters</h4></a>
                        <p>Hackers and Painters is among the best books I have ever read. It is a collection of essays
                        of Paul Graham. It talks about why web software is great, how to make wealth, 
                        and why lisp is so great.
                        </p>

                        <a href="http://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041"><h4>Surely You're Joking Mr Feynman</h4></a>
                        <p>This book isn't about programming but it is a must read. Nobel Prize winning physicist, 
                        Richard Feynman shares some of his humourous stories.
                        </p>

                        <a href=""><h4>The Inmates are Running the Asylum</h4></a>
                        <p> This is a great boook on UI and much more.</p>

                        <a href="http://www.youtube.com/watch?v=4eRCygdW--c"><h4>Richard Feynman on Nanotechnology</h4></a>
                        <!--
                        <h4>Watch Alan Kay's turing award lecture</h4>
                        <h4>Basics of Unix</h4>
                        <h4>Learn python the hard way</h4>
                        <h4>Learn C the hard way</h4>
                        <h4>Why programmers are really bad</h4>
                        <h4>Why homeopathy doesn't work</h4>
                        <h4>Watch Penn and Teller Bullshit</h4>
                        <h4>Read the Inmates are running the Asylum</h4>
                        <h4>Read the Non Designers Design book</h4>
                        <h4>Read the Read Code Complete or Clean Code</h4>
                        <h4>Udacity Web development Course</h4>
                        <h4>SICP</h4>
                        -->
                    </div>
                </div>

                {% include footer.html %}
            </div> <!-- /container -->

            {% include scripts.html %}
            </body>
            </html>
